body{
    margin: 0;
    padding: 0;
    background-image: url("./img/gym.jfif");
    background-size: 100% 62em;
    background-repeat: no-repeat;
    
}

.container{
    text-align: center;
    border-radius: 10px;
    display: block;
    width: 350px;
    margin: auto;
    margin-top: 3%;
    box-sizing: 40px;

}

.titulo{
    background-color: rgb(40, 42, 167);
    border-radius: 10px;
    display: block;
    width: auto;
    margin: auto;
    padding: 15px;
    margin-bottom: 5px;
    color: white;
    box-shadow: 0px 0px 10px rgb(86, 142, 240);

}

.entradas{
    background-color: rgb(180, 233, 217);
    border-radius: 10px;
    display: block;
    width: auto;
    margin: auto;
    padding: 15px;
    text-align: left;
    box-shadow: 0px 0px 10px rgb(148, 173, 216);
}

.label2{
    text-align: center;
    
}

#botao{
    margin-top: 10px;
    padding-bottom: 5px;
}

.resultado{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: auto;
    height: 200x;
    border-radius: 5px;
    font: italic 1.5 rem serif;
    box-shadow: 0px 0px 10px rgb(66, 140, 209);
    background: rgb(114, 194, 194);
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    color: white;
}

button{
    border-radius: 10px;
    border-style: hidden;
    background:rgb(75, 75, 75);
    color: white;
    box-shadow: 0px 0px 10px rgb(66, 140, 209);
    background: rgb(114, 194, 194);
}